*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kontajner {
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/uvodna_fotka.jpg);
    background-size: contain;
    

}

.navigacny_panel {
    height: 12%;
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 15px;
 }

 
.logo_ziarovka {
    width: 50px;
    cursor: pointer;
    

     }

     
.logo_menu {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
      }


      nav {
        flex: 1;
        text-align: right;
    }
    
    nav ul li {
        list-style: none;
        display: inline-block;
        margin-left: 60px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: azure;
        font-size: 15px;
    }

    .zoznam {
        transition: transform 0.5s;
    }
    
    .zoznam:hover {
        transform: translateY(-5px);
    }
    
    .meno {
        color:azure ;
        padding-left: 7px;
        font-weight: normal;
        text-decoration: none;
    }
    
    .riadok {
        display: flex;
        height: 88%;
        align-items: center;
        padding: 15px;
    }
    
    .stlpec {
        flex-basis: 50%;
        padding-left: 100px;
    }

    .kont1 {
        display: flex;
    }

    button {
        margin-left: 450px;
        color: black;
        border-radius: 12px;
        background-color: white;
        border: 2;
        cursor: pointer;
        display: inline-block;
    }
    .box {
        margin-top: 33px;
        background-color: rgb(173, 117, 53);
        width: 1275px;
        height: 400px;
        
    }

    a {
        text-decoration: none;
        color: white
        
    }

    h2 {
        color:  white;
        text-shadow: 15px;
        
    }

    .mapa {
        margin: 50px;
    }

    .box2 {
        width: 1275px;
        height: 500px;
        background-color: rgb(173, 117, 53);
        margin-top: 33px;
        padding: auto;
    }

    fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove (internal value);
        color: aliceblue;
        margin-top: 20px
    }

    .tabulka {
        margin-top: 33px;
        color: aliceblue;
    }


    li a:link {
        color: rgb(0, 0, 0);
    }
    
    li a:visited{
        color: aliceblue;
        }
    
    li a:hover {
        color: rgb(1, 153, 140);
    }
    
    li a:focus {
        color: rgb(0, 129, 12)
    }
    
    li a:active {
        color: rgb(65, 9, 110)
    }

    h1 {
        color: aliceblue;
        margin-top: 33px;
    }